################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/.vs/test-redux/v15/Server/sqlite3
packages
obj
bin
/server/.vs/test-redux/v16/Server/sqlite3
