<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>name edit</th>
            <th>picture</th>
            <th>update name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of (users$ | async)">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><input ref-name type="text" [ngModel]="item.name"></td>
            <td><img src="{{item.avatar}}" alt="{{item.avatar}}" style="height: 40px;"></td>
            <td><button type="button" (click)="updateName(item.id, name.value)">update name</button></td>
        </tr>
    </tbody>
</table> 