<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>picture</th>
            <th>posts</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of (usersWithPosts$ | async)">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.picture}}</td>
            <td>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>PostId</th>
                            <th>Title</th>
                            <th>Change title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of item.posts">
                            <td>{{post.id}}</td>
                            <td>{{post.title}}</td>
                            <td><button type="button" (click)="changeTitle(post)">Change title</button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table> 

<!-- <div *ngFor="let post of (posts$ | async)">
    this is a test
</div> -->

<!-- <app-posts></app-posts> -->