<textarea rows="" cols="">
    {{users}}
</textarea>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>name edit</th>
            <th>picture</th>
            <th>update name</th>
            <th>posts</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of (users$ | async)">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td><input type="text" [ngModel]="item.name"></td>
            <td>{{item.picture}}</td>
            <td><button type="button">update name</button></td>
            <td>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>PostId</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Created</th>
                            <th>Change title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of (getPostsByUserId(item.id) | async)">
                            <td>{{post.id}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.content}}</td>
                            <td>{{post.created | date:'medium'}}</td>
                            <td><button type="button" (click)="changeTitle(post)">Change title</button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table> 

  <app-posts></app-posts>  