<div class="card">
    <div class="card-header">
        <img src="{{user.avatar}}" alt="" style="height: 50px;">
        <form class="form-inline d-inline-block ml-2" (submit)="submitHandler()">
            <input type="text" class="form-control form-control-sm" name="name" id="name" [(ngModel)]="user.name">
            <button class="btn btn-primary btn-sm" type="submit">Update</button>
        </form>

        <button class="btn btn-primary btn-sm float-right" (click)="loadPostClickHandler()">Load Posts</button>
    </div>
    <div class="card-body" *ngIf="loadPosts === true">
        <app-post-list [userId]="user.id"></app-post-list>
    </div>
</div>